.app-main-bar{
    width:100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.app-header{
    margin:0px;
    display: flex;
    height: 65px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    color:rgb(104, 219, 104)
    
}
.app-header-img{
    height: 30px;
    margin: 5px;
}
.app-header{
    cursor: pointer;
}
.app-header-btn-div{
    display: flex;
    margin-right: 30px;
}
.app-header-btn{
    margin: 0px;
    height: 40px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: solid 1px rgb(180, 176, 176);
    margin: 5px;
    font-size: 15px;
}
#sign-up.app-header-btn{
    background-color: rgb(104, 219, 104);
    color: white;
    border: none;
}
.app-header-btn:hover{
    cursor: pointer;
}
/* Main Content */
.app-main-content{
    display: flex;
    align-items: center;
    position: relative;
}
.app-main-content-info-div{
    position: absolute;
    top: 10%;
    left: 10%;
}
.app-main-content-name1{
    font-size: 70px;
    top: 15%;
    margin-bottom: -20px;
}
.app-main-content-name2{
    max-width: 600px;
    font-size: 50px;
    color: rgb(104, 219, 104);
}
.app-main-content-img{
    margin: 0;
    padding: 0px;
    height: 500px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: 150px;
}
.app-main-content-subinfo-div{
    position: absolute;
    bottom: -10%;
    left: 10%;
    display: flex;
}

.app-content-subinfo{
    height: 200px;
    max-width: 300px;
    margin-right: 20px;
}


.rotate {
    animation: rotation 15s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

/* Sign In/Up Button */
.app-form-frame{
    height: 100vh;
    width: 100vw;
    background-color: rgba(159, 246, 159, 0.578);
    display: flex;
    justify-content: center;
}
.app-form-div{
    height: 500px;
    width: 400px;
    border-radius: 10px;
    background-color: rgba(47, 45, 45, 0.453);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.app-form-header{
    margin: 30px 0 30x 0;
}
.app-form-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
.app-form-submit-input{
    height: 50px;
    width: 300px;
    border-radius: 5px;
    border: solid 2px white;
    background-color: rgba(255, 255, 255, 0);
    margin: 8px;
    color: white;
    outline: None;
}
.app-form-submit-input::placeholder{
    color: white;
}
.app-form-submit-input:focus::placeholder {
    color: transparent;
    background-color: rgba(255, 255, 255, 0);
}
.app-form-submit-input:-webkit-autofill,
.app-form-submit-input:-webkit-autofill:hover, 
.app-form-submit-input:-webkit-autofill:focus, 
.app-form-submit-input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.app-form-submit-btn{
    height: 50px;
    width: 200px;
    border-radius: 5px;
    border: solid 2px white;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    position: absolute;
    bottom: 40px;
}

.app-form-submit-btn:hover{
    background-color: white;
    color: black;
    
}
.app-form-switch{
    height: 20px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 20px;
    border-radius: 5px;
    border: solid 2px white;
    display: flex;
    align-items: center;
}
.app-form-switch:hover{
    cursor: pointer;
}

.app-form-switch-state{
    height: 20px;
    width: 75px;
    padding: 5px;
    border-radius: 5px;
    background-color:   rgb(255, 255, 255);
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#check.app-form-switch-state{
    transform: translate(75px, 0);
}